html { @media (prefers-reduced-motion) { animation: none !important; } }
body {
  font-family: sans-serif;
  font-size: 1.075rem;
  @media (prefers-color-scheme: 'dark') {
    background: #1c1c1c;
    color: #fff;
  }
  max-width: 80ch;
  margin: 0 auto;
  padding: 2rem 2rem;
  a {
    color: inherit;
    transition: 100ms ease-in-out color;
    &:hover,
    &:focus {
      color: #ff0000;
    }
  }
}
header, main { width: 100%; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  .langs {
    display: flex;
    align-items: center;
    a { margin: .5rem; }
  }
  .home > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    svg > path { @media (prefers-color-scheme: 'dark') { fill: #fff; } }
    p { margin-left: .5rem; }
  }
}
[aria-disabled="true"] {
  opacity: 0.5;
}
footer {
  border-top: 2px solid;
  padding-top: 1rem;
  margin-top: 2rem;
}

.g {
  display: flex;
  flex-wrap: wrap;
  & > div  {
    @media (min-width: 592em) { width: 50%; }
    @media (min-width: 960px) {
      width: 20%;
      text-align: center;
    }
    p {
      &:first-child {
        font-weight: 700;
        
      }
    }
  }
}

ul {
  li{ margin: .3rem 0;}
  li:first-child { margin-top: 0; }
  li:last-child { margin-bottom: 0; }
}
#sticky {
  display: none;
  top: 0;
}
