@import "./farer/sheet";

// Site-specific styles
#home {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-weight: 700;
}
fa-tag {
  background: #f7f;
  padding: 2px 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
}
fa-sandbox {
  display: block;
  max-width: 100%;
  width: 100%;
  border: 1px solid $farer-k;
  border-radius: 8px;
  margin: 1rem 0;
  padding: .5rem;
  height: 200px;
  overflow-y: auto;
}

//

header, main { width: 100%; }
article {
  margin: 0 auto;
  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.2rem; }
}
ul {
  li { margin: .3rem 0; }
  li:first-child { margin-top: 0; }
  li:last-child { margin-bottom: 0; }
}
.control {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

//

footer {
  padding: 32px 48px 64px;
  background: $farer-k;
  color: #fff;
  div {
    margin: 0 auto;
    :last-child { margin-bottom: 0; }
  }
  section {
    a {
      margin: 0 .5rem;
      &:first-child { margin-left: 0; }
    }
  }
}

//


.grid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  section {
    box-sizing: border-box;
    max-width: 100%;
    margin: 32px 16px 8px;
    padding-left: 12px;
    border-left: 4px solid #f7b;
    ul {
      list-style: none;
      padding-left: 0;
      font-weight: 600;
      li { margin: 12px 0; }
    }
    button { text-align: left; }
    h2 { margin: 0.5rem 0; }
  }
  .r { border-color: $farer-r; }
  .g { border-color: $farer-g; }
  .b { border-color: $farer-b; }
}
#news {
  padding: 32px 48px;
  div { margin: 0 auto; }
}

article {
  padding: 1rem 2rem;
  margin: 0 auto;
}
article,
#news > div,
footer > div,
.grid { max-width: 80ch; }
@media (min-width: 800px) {
  .grid {
    flex-flow: row;
    section { width: 100%; }
  }
}
@media print {
  footer { display: none !important; }
  article { padding: 0; }
}
