gouv.fa {
	encode zstd gzip
	file_server
	root * /srv/sites/pubserv.fa/public
	tls /srv/certs/gouv.fa/public.pem /srv/certs/gouv.fa/private.pem
}

www.gouv.fa,
gov.fa,
www.gov.fa,
http://farer.,
http://fa.,
http://example.fa {
	encode zstd gzip
	redir https://gouv.fa/{uri}
}

#wiki.farer.group {
#	encode zstd gzip
#	file_server
#	root * /srv/sites/farerwiki/public
#}
