<section class="galt">
	<div>
		<h2>⚠️ Heads up!</h2>
		<p> PubServ.fa is now Gouv.fa. This is an effort to consolidate the slew of domains we were using for services provided by the Farer Governing Body. Redirects will continue from PubServ.Fa to Gouv.fa until the end of September.</p>
	</div>
	<div>
		<h2>🚧 Caution!</h2>
		<p> Some services such as online forms via Gouv.fa and FarerNIC may not be live yet as part of our rebrand to <a href="https://github.com/LLEB-ME/wiki/issues/16">Farer.</a> We appreciate and thank you for your patience as we rollout more over time.</p>
	</div>
	<div>
		<h2>👋 🇫🇷 Bienvenue!</h2>
		<p>Pages are being actively translated to French, one of three official Farer languages. <a href="#">You can help finish French or Spanish translations.</a></p>
	</div>
	<div>
		<h2>ℹ️ Notice about Discord changes.</h2>
		<p>Our Discord server has since been segregated into members and non-members. We kindly ask you continue to follow <a href="/N1003">your obligations as a member</a> and welcome visitors warmly.</p>
	</div>
</section>
<hr/>
<section>
	<p>
		Welcome to the Farer help centre. You can find information on most things inside the organization ranging from the variety of services we offer to documentation on our infrastructure.
	</p>
</section>
<hr/>
<section>
	<div class="g">
		<div>
			<h3><a href="/N1000">Membership — papers</a></h3>
			<p>
				<a href="/N1002">Certificate of membership</a>, <a href="/N1005">ID card</a>, <a href="/N1003">user rights and obligations within the network</a>, <a href="/N1001">invite other users to the network</a>...
			</p>
		</div>
		<div>
			<h3><a href="/N2000">Member services</a></h3>
			<p>
				<a href="/N2002">Access the Single Sign-On portal</a>, <a href="/N2001">access your Gouv.fa account</a>, <a href="/N2005">install root certificates</a>...
			</p>
		</div>
		<div>
			<h3><a href="/services/farernic">FarerNIC</a></h3>
			<p>
				<a href="/services/farernic/register">Register a domain</a>, <a href="/services/farernic/dns">edit internal DNS records</a>, <a href="/services/farernic/hosting">host a website on Farer servers</a>...
			</p>
		</div>
		<div>
			<h3><a href="/archive">Public Archive</a></h3>
			<p>
				<a href="/archive/oss">Deprecated software and projects</a>, <a href="/fedlex">Fedlex</a>...
			</p>
		</div>
	</div>
</section>

<hr/>

<section>
	<h3>Need help?</h3>
	<p>
		Use the Discord server to talk with anyone. <a href="https://github.com/LLEB-ME/wiki/issues/4">We're working on replacing Discord,</a> but leaving some means to mirror conversations for those not ready to make the leap. <strong>If there is an urgent issue, <a href="https://signal.group/#CjQKIB4aklX7oIdMxAQGz5k01VjSn0q72AbkSBOWPlYP9ipUEhAg14RS_NU5lSVarHEL58XF">use Signal to contact the staff.</a></strong> Verify identites before communicating with internal means.
	</p>
</section>
