<section class="grid">
	<section class="r">
		<h2>For Members</h2>
		<a href="https://sec.gouv.fa/login?redirect=https:%2F%2Fsec.gouv.fa%2Fdashboard"><button>Login</button></a>
		<ul>
			<li><a href="/services/farernic">FarerNIC</a></li>
			<li><a href="/members/travel">Holiday and Travel</a></li>
			<li><a href="/members/papers">Membership — papers</a></li>
			<li><a href="/services/">Member services</a></li>
			<li><a href="/members/your-rights">Your rights and obligations</a></li>
		</ul>
	</section>
	<section class="g">
		<h2>For Visitors</h2>
		<a href="#"><button>Get connected</button></a>
		<ul>
			<li><a href="/guests/access">Accessing the Farer network</a></li>
			<li><a href="/members/root-ca">Installing the root certificate</a></li>
			<li><a href="/guests/privacy">Vistor Privacy</a></li>
			<li><a href="/guests/usage-policy">Visitor Usage Policy</a></li>
		</ul>
	</section>
	<section class="b">
		<h2>For Public</h2>
		<a href="#"><button>For consistency??</button></a>
		<ul>
			<li><a href="/meta/about">About The Farer Group</a></li>
			<li><a href="/fedlex">Common law</a></li>
			<li><a href="/meta/open-source">Open-source licensing</a></li>
			<li><a href="/meta/operations">Operating dossier</a></li>
			<li><a href="/meta/public-resources">Read-only resources</a></li>
		</ul>
	</section>
</section>
<section id="news">
	<div>
		<h2>News articles</h2>

		{% set news = get_section(path="news/_index.md") %}
		{% for article in news.pages | sort(attribute="date") | reverse | slice(end=5) %}
			<p><a href="{{article.permalink}}">{{article.title}}—</a> {{article.description}} ({{article.date}})</p>
		{% endfor %}
	</div>
</section>
