<div class="grid">
	<section class="card r">
		<h2>For Members</h2>
		<a href="https://sec.gouv.fa/login?&redirect=https:%2F%2Fsec.gouv.fa%2Fdashboard" class="btn">Login</a>
		<ul>
			<li><a href="/services/farernic">FarerNIC</a></li>
			<li><a href="/members/travel">Holiday and Travel</a></li>
			<li><a href="/members/papers">Membership — papers</a></li>
			<li><a href="/services/">Member services</a></li>
			<li><a href="/members/your-rights">Your rights and obligations</a></li>
		</ul>
	</section>
	<section class="card g">
		<h2>For Visitors</h2>
		<a href="#" class="btn">Get Connected</a>
		<ul>
			<li><a href="/guests/access">Accessing the Farer network</a></li>
			<li><a href="/members/root-ca">Installing the root certificate</a></li>
			<li><a href="/guests/privacy">Vistor Privacy</a></li>
			<li><a href="/guests/usage-policy">Visitor Usage Policy</a></li>
		</ul>
	</section>
	<section class="card b">
		<h2>For Public</h2>
		<ul>
			<li><a href="/meta/about">About Farer</a></li>
			<li><a href="/fedlex">Common Law</a></li>
			<li><a href="/meta/open-source">Open-source licensing</a></li>
		</ul>
	</section>
</div>
