<div class="grid">
	<section class="card r">
		<h2>Pour les membres</h2>
		<a href="#" class="btn">Se connexion</a>
		<ul>
			<li><a href="/employment">Emploi</a></li>
			<li><a href="/services/farernic">FarerNIC</a></li>
			<li><a href="/members/travel">Vacances et voyage</a></li>
			<li><a href="/members/papers">Adhésion — papiers</a></li>
			<li><a href="/services/">Services aux membres</a></li>
			<li><a href="/members/your-rights">Vos droits et obligations</a></li>
		</ul>
	</section>
	<section class="card g">
		<h2>Pour les visiteurs</h2>
		<a href="#" class="btn">Rester connecté</a>
		<ul>
			<li><a href="/guests/access">Accès au réseau Farer</a></li>
			<li><a href="/members/root-ca">Installation du certificat racine</a></li>
			<li><a href="/guests/privacy">Confidentialité des visiteurs</a></li>
			<li><a href="/guests/usage-policy">Politique d'utilisation des visiteurs</a></li>
		</ul>
	</section>
	<section class="card b">
		<h2>Pour le public</h2>
		<ul>
			<li><a href="/meta/about">À propos de Farer</a></li>
			<li><a href="/fedlex">Droit commun</a></li>
			<li><a href="/meta/open-source">Licences libres</a></li>
		</ul>
	</section>
</div>
