// Colour palette
$farer-r: #f65;
$farer-o: #000;
$farer-g: #2d7;
$farer-b: #7bf;
$farer-p: #000;
$farer-w: #eee;
$farer-k: #000; // Key, or black

// Lighten buttons to proper colour
@mixin lighten($c) { background: color.scale($c, $lightness: 10%); }

// Font stylings
@mixin font-sans {
	font: 1.075rem/1.3 "Overpass", sans-serif;
	@supports (font-variation-settings: "wdth" 115) {
		font-family: "Overpass VF", "Overpass", sans-serif;
	}
}
@mixin font-mono {
	font-family: "JetBrains Mono", monospace;
	@supports (font-variation-settings: "wdth" 115) {
		font-family: "JetBrains Mono VF", "JetBrains Mono", monospace;
	}
}
