@use "sass:color" as color;
@import "_vars";

* { box-sizing: border-box; }

// Needs to be converted (fragments may remain in ./style.scss)
header {
  background: $farer-k;
  color: #fff;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  padding: 0 1rem;
  max-width: 80ch;
  a {
    text-decoration: none;
    margin: .5rem;
  }
  svg > path { fill: #fff; }
  @media print {
    div { display: none !important; }
    svg > path {
      fill: $farer-k;
    }
  }
  @media (min-width: 800px) {
    flex-flow: row;
    margin: 0 auto;
  }
}

main { width: 100%; }
li { margin: .3rem 0; }
article {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 80ch;
  @media print { padding: 0; }
}
footer {
  background: $farer-k;
  color: #fff;
  div {
    padding: 1rem 2rem 3rem;
    max-width: 80ch;
    margin: 0 auto;
  }
  section {
    a {
      margin: 0 .5rem;
      &:first-child { margin-left: 0; }
    }
  }
  @media print { display: none !important; }
}

/// /// ///      /// /// ///
///     ///      ///     ///
/// /// ///      /// /// ///

        ///       ///
          /////////

html, body {
  margin: 0;
  padding: 0;
  @include font-sans;
  background: $farer-w;

}
a {
  color: inherit;
  &:hover, &:focus { text-decoration: none; }
}
pre, code {
  @include font-mono;
  overflow-x: auto;
}
pre > code { overflow-y: auto; }
[aria-disabled="false"] { opacity: 0.8; }

.f--panic, .f--r { background: $farer-r !important; }
.f--o { background: $farer-o !important; }
.f--g { background: $farer-g !important; }
.f--submit, .f--b { background: $farer-b !important; }
.f--p { background: $farer-p !important; }

button,
input[type=submit] {
  background: #fff;
  text-align: center;
  color: $farer-k;
  padding: 6px 10px;
  border: 2px rgba(0,0,0,.2) solid;
  border-bottom-width: 4px;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  font-family: inherit;

  &:hover {
    margin-top: 2px;
    border-bottom-width: 2px;
  }
  &:active { @include lighten($farer-w); }

  &.submit {
    background: $farer-b;
    &:active { @include lighten($farer-b); }
  }
  &.cancel {
    background: $farer-r;
    &:active { @include lighten($farer-r); }
  }
}
@media print {
  button, input[type=submit] { font-size: .8rem; }
}
input[type=search],
input[type=text] {
  border: 2px solid rgba(0,0,0,.2);
  color: inherit;
  border-radius: 8px;
  width: 100%;
  padding: 8px 20px;
  font-size: 1rem;
}

fa-alert {
  display: block;
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 80ch;
  span {
    background: $farer-b;
    color: $farer-k;
    display: block;
    padding: 12px 16px;
    border-radius: 8px;
  }
  @media print { display: none !important; }
}
pre {
  display: block;
  max-width: 100%;
  width: 100%;
  border: 1px solid $farer-k;
  border-radius: 8px;
  margin: 1rem 0;
  padding: .5rem;
  height: 200px;
  overflow-y: auto;
}

fa-hero {
  display: block;
  background: $farer-k;
  color: #fff;
  padding: 1rem 2rem;
  max-width: 80ch;
  margin: 0 auto;
}
