<li>
  <p>
    {{ trans(key="form-address", lang=lang) }}
    <small>{{ trans(key="form-address-notice", lang=lang) }}</small>
  </p>

  <input name="street" placeholder="{{ trans(key="form-address-street",
  lang=lang) }}" required /> <input name="addtinfo" placeholder="{{
  trans(key="form-address-addt", lang=lang) }}" />

  <div class="sxs">
    <input name="postal" placeholder="{{ trans(key="form-address-postal",
    lang=lang) }}" required /> <input name="city" placeholder="{{
    trans(key="form-address-city", lang=lang) }}" required />
  </div>

  <input name="country" placeholder="{{ trans(key="form-address-country",
  lang=lang) }}" required />
</li>
