@font-face {
	font-family: 'Overpass VF';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('https://gouv.fa/assets/fonts/OverpassVF.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/OverpassVF.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Non-variable fonts. Avoid where possible */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	src: url('https://gouv.fa/assets/fonts/Overpass/400.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/400.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: italic;
	font-weight: 400;
	src: url('https://gouv.fa/assets/fonts/Overpass/400I.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/400I.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 500;
	src: url('https://gouv.fa/assets/fonts/Overpass/500.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/500.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: italic;
	font-weight: 500;
	src: url('https://gouv.fa/assets/fonts/Overpass/500I.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/500I.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 700;
	src: url('https://gouv.fa/assets/fonts/Overpass/700.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/700.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: italic;
	font-weight: 700;
	src: url('https://gouv.fa/assets/fonts/Overpass/700I.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/700I.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 800;
	src: url('https://gouv.fa/assets/fonts/Overpass/800.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/800.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Overpass';
	font-style: italic;
	font-weight: 800;
	src: url('https://gouv.fa/assets/fonts/Overpass/800I.woff2') format('woff2'),
	     url('https://farer.group/assets/fonts/Overpass/800I.woff2') format('woff2');
	font-display: swap;
}