<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
    {% set title=page.title ~ " — gouv.fa" %}
  {% elif section.title %}
    {% set title=section.title ~ " — gouv.fa" %}
  {% else %}
    "Gouv.fa"
  {% endif %}
  {% if lang == "fr" %}
  {% set prefix = "fr/" %}
  {% else %}
  {% set prefix = "" %}
  {% endif %}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="{{config.base_url}}/assets/overpass.css" />
  <link rel="stylesheet" href="{{config.base_url}}/assets/jetbrains-mono.css" />
</head>
<body id="top">
  <header>
    <nav>
      <a href="/{{lang}}" aria-label="Link to homepage" id="home" title="Link to homepage">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 55 55" aria-labelledby="home" fill="none">
          <rect width="55" height="55" fill="none"/>
          <path d="M18 20L38 10V15L18 25V20Z" fill="#000"/>
          <path d="M18 30L38 20V25L18 35V30Z" fill="#000"/>
          <path d="M18 45V40L28 35V40L18 45Z" fill="#000"/>
        </svg>
        <span>the farer group</span>
      </a>
      <div>
        <a href="/{{prefix}}search">{{ trans(key="searchtitle", lang=lang)}}</a>
        <a href="https://firehose.farer.group">Firehose</a>
        <a href="/{{prefix}}news">{{ trans(key="newstitle", lang=lang) }}</a>
        {#<a href="/{{prefix}}directory">{{ trans(key="directorytitle", lang=lang)}}</a>#}

        {% set_global url = "/" %}
        {% set_global translation = "" %}
        {% set_global swap_lang = "" %}
        {% if lang == "en" %}
          {% set_global swap_lang = "fr" %}
          {% set_global url = "/fr" %}
        {% else %}
          {% set_global swap_lang = "en" %}
        {% endif %}

        {% if page %}
          {% set_global translation = page.translations %}
        {% elif section %}
          {% set_global translation = section.translations %}
        {% endif %}
        {% for trans in translation %}
          {% if trans.lang == swap_lang %}
          {% set_global url = trans.permalink %}
          {% endif %}
        {% endfor %}
        <a href="{{ url }}">
          {% if lang == "en" %}
          <strong>FR</strong>
          {% else %}
          <strong>EN</strong>
          {% endif %}
        </a>
      </div>
    </nav>
    
    {#
    {% if lang == "en" %}
    <div class="notice">
      <span class="f--alert"><strong>Heads up!</strong> US West is currently experiencing outages due to the Spectrum outage in San Diego.</span>
    </div>
    {% else %}
    <div class="notice">
      <span class="f--alert"><strong>Avertissement!</strong> L'ouest d'États-Unis est </span>
    </div>
    {% endif %}
    #}

    {% if lang == "en" %}
    <div class="notice">
      <span><strong>Heads up!</strong> We're currently redesigning Gouv.fa. <a href="/meta/contact">Contact Farer staff if you need help.</a></span>
    </div>
    {% else %}
    <div class="notice">
      <span><strong>Avertissement!</strong> Nous sommes en trian de remanier Gouv.fa. <a href="/fr/meta/contact">Contactez le personnel de Farer si vous besoin d'aide.</a></span>
    </div>
    {% endif %}
    <section class="hero">
      <div>
        {% if page.title %}
          <h1>{{page.title}}</h1>
          <p>{{page.description}}</p>
        {% elif section.title %}
          <h1>{{section.title}}</h1>
          {% if section.description %}<p>{{section.description}}</p>{% endif %}
        {% endif %}
        {% block header %}{% endblock header %}
      </div>
    </section>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div>
      <section>
        <a href="/{{prefix}}help">{{ trans(key="help", lang=lang) }}</a>
        <a href="/{{prefix}}meta/contact">{{ trans(key="contact", lang=lang) }}</a>
        <a href="/{{prefix}}meta/design">Farer Design System</a>
      </section>
      <p>&copy; 2022-2023 The Farer Group. <a href="/{{prefix}}meta/open-source">{{ trans(key="copyright", lang=lang) }}</a></p>
    </div>
  </footer>
</body>
{% block scripts %}{% endblock scripts %}
</html>
