<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
    {% set title=page.title ~ " — gouv.fa" %}
  {% elif section.title %}
    {% set title=section.title ~ " — gouv.fa" %}
  {% else %}
    {% set title=trans(key="pubserv", lang=lang) %}
  {% endif %}
  {% if lang == "fr" %}
  {% set prefix = "fr/" %}
  {% else %}
  {% set prefix = "" %}
  {% endif %}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body id="top">
  <header>
    <nav>
      <div class="home">
        <a href="/{{lang}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
            <rect width="55" height="55" fill="none"/>
            <path d="M18 20L38 10V15L18 25V20Z" fill="#000"/>
            <path d="M18 30L38 20V25L18 35V30Z" fill="#000"/>
            <path d="M18 45V40L28 35V40L18 45Z" fill="#000"/>
          </svg>
          <p>the farer group</p>
        </a>
      </div>
      <div class="langs">
        <a href="/{{prefix}}search">{{ trans(key="searchtitle", lang=lang)}}</a>
        <a href="/{{prefix}}directory">{{ trans(key="directorytitle", lang=lang)}}</a>

        {% set_global url = "/" %}
        {% set_global translation = "" %}
        {% set_global swap_lang = "" %}
        {% if lang == "en" %}
          {% set_global swap_lang = "fr" %}
          {% set_global url = "/fr" %}
        {% else %}
          {% set_global swap_lang = "en" %}
        {% endif %}

        {% if page %}
          {% set_global translation = page.translations %}
        {% elif section %}
          {% set_global translation = section.translations %}
        {% endif %}
        {% for trans in translation %}
          {% if trans.lang == swap_lang %}
          {% set_global url = trans.permalink %}
          {% endif %}
        {% endfor %}
        <a href="{{ url }}">
          {% if lang == "en" %}
          Français
          {% else %}
          English
          {% endif %}
        </a>
      </div>
    </nav>
  </header>
  <main>
    {% if lang == "en" %}
    <div class="notice">
      <p><strong>Heads up!</strong> We're currently redesigning Gouv.fa. A copy of some old content is still accessible through the Search page. A lot of services in the Directory are not live yet— expect 404s. <a href="/contact">Contact Farer staff if you cannot find something.</a></p>
    </div>
    <!--<div class="notice">
      <p><strong>There is an active vote on policy in progress.</strong> Voting will close 1 january 1997. <a href="/vote">Click here for more information on voting.</a></p>
    </div>-->
    {% else %}
    <div class="notice">
      <p><strong>Avertissement!</strong> Nous sommes en trian de remanier Gouv.fa. Une copie de tous les anciens contenus est toujours accessible via les liens restants sous le nouveau contenu. <a href="/fr/contact">Contactez le personnel de Farer si vous ne trouvez rien.</a></p>
    </div>
    <!--<div class="notice">
      <p><strong>Il y a un vote actif sur la politique en cours.</strong> Le vote se terminera le 1 january 1997. <a href="/fr/vote">Cliquez ici pour plus d'informations sur le vote.</a></p>
    </div>-->
    {% endif %}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div>
      <a href="/{{prefix}}help">{{ trans(key="help", lang=lang) }}</a>
      <a href="/{{prefix}}meta/contact">{{ trans(key="contact", lang=lang) }}</a>
      <a href="/{{prefix}}meta/design">Farer Design System</a>
    </div>
    <p>&copy; 2022-2023 The Farer Group. <a href="/{{prefix}}meta/open-source">{{ trans(key="copyright", lang=lang) }}</a></p>
  </footer>
</body>
{% block scripts %}{% endblock scripts %}
</html>
