{% extends "base.html" %}

{% block content %}
<article>
  <section>
    <section>
      {{ page.content | safe }}
    </section>
  </section>

  <section>
    {% set data = load_data(path="directory.json") %}
    <ul>
    {% for item in data %}
      {% set url = "" %}
      {% if item.url_fr and lang == "fr" %}
        {% set url = item.url_fr %}
      {% elif item.url_en and lang == "en" %}
        {% set url = item.url_en %}
      {% else %}
        {% set url = item.url %}
      {% endif %}
      <li>
        <p><a href="{{ item.url }}">{{ item.name }}</a>—{% if item.description_fr and lang == "fr" %}{{ item.description_fr }}{% else %}{{ item.description }}{% endif %}
          {% for tag in item.tags %}
            {% if tag == "by-farer" %}
              <span title="{{ trans(key="tag_farer_desc", lang=lang)}}" class="tag by-farer">{{ trans(key="tag_farer", lang=lang)}}</span>
            {% elif tag == "staff" %}
              <span title="{{ trans(key="tag_staff_desc", lang=lang)}}" class="tag staff">{{ trans(key="tag_staff", lang=lang)}}</span>
            {% elif tag == "restricted" %}
              <span title="{{ trans(key="tag_restricted_desc", lang=lang)}}" class="tag restricted">{{ trans(key="tag_restricted", lang=lang)}}</span>
            {% endif %}
          {% endfor %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </section>
</article>
{% endblock content %}