{% extends "base.html" %}

{% block content %}
<section class="safe">
  <h2>Directory</h2>

  <section class="altgrid">
    {% set data = load_data(path="directory.json") %}
    {% for item in data %}
      <a href="{{ item.url }}" class="card click">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <div class="tags">
        {% for tag in item.tags %}
          {% if tag == "by-farer" %}
            <span title="This service is run by The Farer Group." class="tag by-farer">Official service</span>
          {% elif tag == "staff" %}
            <span title="This service is run by a staff member from The Farer Group." class="tag staff">Staff-operated</span>
          {% elif tag == "restricted" %}
            <span title="This service isn't open to all Farer members, Farer visitors, or is intended for a certain group of people." class="tag restricted">Restricted</span>
          {% elif tag == "verified" %}
            <span title="This service has been certified to be compliant with Farer policies. A report of such can be found via FarerNIC." class="tag verified">Certified</span>
          {% elif tag == "open" %}
            <span title="This service is accessible by guests and members alike. The only requirement is being able to connect to Farer." class="tag open">Open Access</span>
          {% endif %}
        {% endfor %}
        </div>
      </a>
    {% endfor %}
  </section>
</section>
{% endblock content %}