{% extends "base.html" %}

{% block content %}
<article>
  <div>
    <div>
      <div class="control">
        <input class="input" id="search" placeholder="{{ trans(key="searchlabel", lang=lang)}}" type="search" />
        <!--<button id="searchbtn" class="btn">Search</button>-->
      </div>
    </div>
    <div class="search-results">
      <div class="search-results__items"></div>
    </div>
  </div>
</article>
{% endblock content %}

{% block scripts %}
<script async src="{{ get_url(path='elasticlunr.min.js') }}"></script>
{% if lang == "en" %}
  <script async src="{{ get_url(path='search_index.en.js') }}"></script>
{% elif lang == "fr" %}
  <script async src="{{ get_url(path='search_index.fr.js') }}"></script>
{% else %}
  <script async src="{{ get_url(path='search_index.fr.js') }}"></script>
  <script async src="{{ get_url(path='search_index.en.js') }}"></script>
{% endif %}
<script async src="{{ get_url(path='search.js') }}"></script>
{% endblock scripts %}