{% extends "base.html" %}

{% block content %}
<section class="safe">
  <h2>Search</h2>
  <div>
    <div>
      <div class="control">
        <input class="input" id="search" placeholder="Search pages" type="search" />
        <!--<button id="searchbtn" class="btn">Search</button>-->
      </div>
    </div>
    <div class="search-results">
      <div class="search-results__items"></div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script async src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<script async src="{{ get_url(path='search_index.en.js') }}"></script>
<script async src="{{ get_url(path='search_index.fr.js') }}"></script>
<script async src="{{ get_url(path='search.js') }}"></script>
{% endblock scripts %}